# Power BI
*.pbix.autorecover

# Excel temporäre Dateien
~$*.xlsx

# Systemdateien
.DS_Store
Thumbs.db

# Logs
*.log

# Python Cache
__pycache__/

# VS Code
.vscode/

# JetBrains
.idea/

# Windows
desktop.ini